*.iml
.gradle
.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/build-run.*
/release-*.out
/release-*.err
/captures
.externalNativeBuild
.cxx
local.properties
/private.properties
/oss-signing.properties
/*.jks
/*.keystore
**/__pycache__/
*.py[cod]
*.apk
/vendor/sing-box/artifacts/*.aar
*.aab
/macos/build
/macos/.gradle
/macos/.jdk
